# Python cache
__pycache__

# Environments
.env
.venv
venv/
.env.bak
.venv.bak

# IDE - VS Code
.vscode/

# Outros padrões úteis para Python
*.pyc
*.pyo
*.pyd
*.py.class

# Diretórios de build/distribuição
build/
dist/
*.egg-info/